#mian{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

#play_area{
	
	margin: auto;
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	justify-content: center;
	border:1px 
	solid #FFF;
	position: relative;

}
.grid{
	border:1px solid #FFF ;
	text-align: center;
	position: absolute;
	justify-content: center;
	}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #ddd;
}

#menu li a.active {
    color: white;

    background-color: #4CAF50;
}

#pannel{
	list-style-type:;
	margin:auto;

}
#pannel li{
	padding-left:14px;
}

#pannel li {
	display: none;
}

#level {
	float: left;
}